<table>
  <thead>
    <tr>
      <th>ES Cell Clone ID</th>
      <th>ES Cell Strain</th>
      <th>ES Cell Line</th>
      <th>Allele</th>
    </tr>
  </thead>
  <tbody>
    <% clones.each do |clone| %>
      <tr>
        <td><a href="http://www.sanger.ac.uk/htgt/plate/view?plate_name=<%= clone["escell_clone"].slice(0, clone["escell_clone"].length - 4) %>"><%= clone["escell_clone"] %></a></td>
        <td>
          <%
            cell_line = ""
            if clone["escell_line"]
              case clone["escell_line"]
              when /JM8/   then cell_line = "C57BL/6N"
              when /C2/    then cell_line = "C57BL/6N"
              when /AB2.2/ then cell_line = "129S7"
              end
            end
          %>
          <%= cell_line %>
        </td>
        <td><%= clone["escell_line"] %></td>
        <td><%= clone["allele_name"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>