<h4>Targeting Vectors</h4>
<% if project["targeting_vectors"] %>
  <table>
    <tr>
      <th>Design ID</th>
      <th>Targeting Vector</th>
      <th>Vector Strain</th>
      <th>Cassette</th>
      <th>Backbone</th>
      <th>Genbank File</th>
      <th>Order</th>
    </tr>
    <% project["targeting_vectors"].each do |targ_vector| %>
      <tr>
        <td>
          <a href="http://www.sanger.ac.uk/htgt/design/designedit/refresh_design?design_id=<%= project["design_id"] %>"><%= project["design_id"] %></a> 
          <% if project["design_plate"] and project["design_well"] %>
            (<%= project["design_plate"] %>_<%= project["design_well"] %>)
          <% end %>
        </td>
        <td><a href="http://www.sanger.ac.uk/htgt/plate/view?plate_name=<%= targ_vector["targvec_plate"] %>"><%= targ_vector["targvec_plate"] %>_<%= targ_vector["targvec_well"] %></a></td>
        <td>
          <% if project["bac"].match("129") %>
            129S7
          <% else %>
            C57Bl/6J
          <% end %>
        </td>
        <td><%= project["cassette"] %></td>
        <td><%= project["backbone"] %></td>
        <td><a href="http://www.sanger.ac.uk/htgt/qc/seq_view_file?design_id=<%= project["design_id"] %>&amp;cassette=<%= project["cassette"] %>&amp;backbone=<%= project["backbone"] %>" class="file">view</a></td>
        <td>
          <%= partial( "datasets/sanger-htgt_targ/order_button", :locals => { :project => project, :order_type => 'vector' } ) %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>&nbsp;&nbsp;&nbsp;<em>No vectors available.</em></p>
<% end %>