<%= will_paginate @results %>
<% for result in @results %>
  <% result_data = @data[result] %>
  <div class="result">
    <div class="doc_datasets_present">
      Data returned from: 
      <% for dataset in @ms.datasets %>
        <% if result_data[ dataset.internal_name ] %>
          <span class="dataset_present"><%= dataset.display_name.gsub( " ", "&nbsp;" ) %></span>
        <% end %>
      <% end %>
    </div>
    <h3 class="doc_title toggle-open"><%= result %></h3>
    <div class="doc_content">
      <% for dataset in @ms.datasets %>
        <% if result_data[ dataset.internal_name ] %>
          <div class="dataset">
            <h4 class="dataset_title toggle-open"><%= dataset.display_name %></h4>
            <div class="dataset_content <%= dataset.internal_name %>">
              <%= partial( "datasets/#{dataset.internal_name}/template", :locals => { :result_data => result_data } ) %>
            </div>
            <div class="dataset_original_data">
              <a href="<%= dataset.data_origin_url( result_data["index"][ dataset.joined_index_field ] ) %>" target="_blank">view this data at its original source</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<%= will_paginate @results %>

<% if @ms.index.current_results_total > @ms.index.docs_per_page %>
  <script type="text/javascript" charset="utf-8">
    jQuery(".doc_title").each( function(index) {
      jQuery(this).parent().find(".doc_content").hide();
      jQuery(this).addClass("toggle-close");
      jQuery(this).removeClass("toggle-open");
    });
  </script>
<% end %>