<table id="browsable_content" class="nobg noborder">
  <% @ms.config["browsable_content"].each do |key,browser| %>
    <tr>
      <th><%= browser["display_name"] %>:</th>
      <td>
        <% browser["options"].each do |option| %>
          <%
            query = nil
            text  = nil
          
            if option.is_a?(Array)
              query = option[0].downcase
              text  = option[0]
            elsif option.is_a?(Hash)
              query = option["slug"].downcase
              text  = option["text"]
            else
              query = option.downcase
              text  = option
            end
            
            text.gsub!(" ","&nbsp;")
          %>
          <% if key === params[:field] and query === params[:query] %>
            <a href="<%= "#{BASE_URI}/browse/#{key}/#{query}" %>" class="current"><%= text %></a> 
          <% else %>
            <a href="<%= "#{BASE_URI}/browse/#{key}/#{query}" %>"><%= text %></a> 
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if @browsing_by %>
  <div id="search_results">
    <h2>Browsing Data by <%= @browsing_by[:field] %>: '<%= @browsing_by[:query] %>'</h2>
    <% if @results and !@results.empty? %>
      <%= partial( :search_results ) %>
    <% else %>
      <em>Sorry, your search did not return any results.</em>
    <% end %>
  </div>
<% end %>

<% if @ms.config["debug"] %>
  <div>
    Solr search parameters used: <%= @solr_query %>
  </div>
<% end %>