<table id="browsable_content" class="nobg noborder">
  <% @ms.config["browsable_content"].each do |key,browser| %>
    <tr>
      <th><%= browser["display_name"] %>:</th>
      <td>
        <% browser["options"].each do |option| %>
          <%
            query = nil
            text  = nil
          
            if option.is_a?(Array) 
              query = option[0].downcase
              text  = option[0]
            else
              query = option.downcase
              text  = option
            end
            
            text.gsub!(" ","&nbsp;")
          %>
          <% if key === params[:field] and query === params[:query] %>
            <a href="<%= "/browse/#{key}/#{query}" %>" class="current"><%= text %></a> 
          <% else %>
            <a href="<%= "/browse/#{key}/#{query}" %>"><%= text %></a> 
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if @results and !@results.empty? %>
  <h3>'<%= @browsing_by[:field] %>' / '<%= @browsing_by[:query] %>'</h3>
  <div id="search_results">
    <%= partial( :search_results ) %>
  </div>
  
  <% if @debug %>
    <div>
      Solr search parameters used: <%= @solr_query %>
    </div>
  <% end %>
<% end %>