<form id="martsearchr" action="<%= BASE_URI %>/search" method="get" accept-charset="utf-8">
  <input type="text" name="query" value="" size="50" />&nbsp;
  <input type="submit" value="Search" /><br />
  <small>Enter gene symbols, gene or product identifiers or any other search term described in the <a href="<%= BASE_URI %>/help">help</a> section.</small>
</form>

<div class="clear"></div>

<div>
  <table class="welcome">
    <tr>
      <td width="55%" style="vertical-align:top;">
        <h2>Welcome to the IKMC</h2>
        <p>
          The members of the International Knockout Mouse Consortium (IKMC) are working together to
          mutate all protein-coding genes in the mouse using a combination of gene trapping and gene
          targeting in C57BL/6 mouse embryonic stem (ES) cells. <a href="http://www.knockoutmouse.org/about" class="ext_link">read more</a>
        </p>
        <p>
          <ul>
            <li><a href="http://www.knockoutmouse.org/download">Download the IKMC Gene List</a></li>
            <li><a href="http://www.knockoutmouse.org/about/targeting-strategies">View targeting strategies</a></li>
            <li><a href="http://www.knockoutmouse.org/about/view-all-ikmc-allele-types">View all allele types</a></li>
          </ul>
        </p>
        <p style="text-align:center;">
          <a href="http://www.eucomm.org/"><img src="<%= BASE_URI %>/images/eucomm.png" alt="EUCOMM" /></a> 
          <a href="http://www.norcomm.org/"><img src="<%= BASE_URI %>/images/norcomm.gif" alt="NorCOMM" /></a> 
          <a href="http://www.knockoutmouse.org/about/komp"><img src="<%= BASE_URI %>/images/komp.png" alt="KOMP" /></a> 
          <a href="http://www.tigm.org/"><img src="<%= BASE_URI %>/images/tigm.png" alt="TIGM" /></a>
        </p>
      </td>
      <td width="45%">
        <h2>News</h2>
        <div id="newsfeed"></div>
        <p>
          <a href="http://www.knockoutmouse.org/blog/feed" class="feed">subscribe</a> | 
          <a href="http://www.knockoutmouse.org/blog">more news...</a>
        </p>
      </td>
    </tr>
  </table>
  
  <hr />
  
  <table class="welcome">
    <tr>
      <td width="40%">
        <h2>ES Cell Lines Progress</h2>
        <div id="googlemeter_crop">
          <%
            chart_url =  "http://chart.apis.google.com/chart?"
            chart_url << "chs=450x225" # size
            chart_url << "&cht=gom"    # type
            chart_url << "&chd=t:#{@chart[:targ_prog]},#{@chart[:trap_prog]}|#{@chart[:all_prog]}" # data (progress %)
            chart_url << "&chxt=x,y" # print text labels
            chart_url << "&chxl=0:|#{@chart[:targ_count]}+Targeted|#{@chart[:trap_count]}+Trapped|#{@chart[:all_count]}+Combined|1:|0|#{@chart[:mouse_genes]}" # labels
            chart_url << "&chls=3,5,5|5|10|15" # styling for the arrows
            chart_url << "&chma=0,0,0,10|0,0" # image padding
          %>
          <img src="<%= chart_url %>" alt="ES Cell Line Progress" />
        </div>
        <div style="text-align: center;">
          Number of protein coding genes with mutant ES <br />
          cell lines in the IKMC resource
        </div>
      </td>
      <td width="60%">
        <h2>IKMC Gene Progress Summary</h2>
        <table id="summary_staistics">
          <tr>
            <th>No. Genes</th>
            <th>KOMP-CSD</th>
            <th>KOMP-Regeneron</th>
            <th>EUCOMM</th>
            <th>NorCOMM</th>
            <th>TIGM</th>
          </tr>
          <% ["Vectors","ES Cells","Mice"].each do |product| %>
            <% ["Generated","Available"].each do |status| %>
              <tr>
                <th><%= "#{product} #{status}" %></th>
                <td><%= @ikmc_counts[product][status]["csd"] %></td>
                <td><%= @ikmc_counts[product][status]["reg"] %></td>
                <td><%= @ikmc_counts[product][status]["euc"] %></td>
                <td><%= @ikmc_counts[product][status]["nor"] %></td>
                <td><%= @ikmc_counts[product][status]["tig"] %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </td>
    </tr>
  </table>
  
</div>

<script type="text/javascript" charset="utf-8">
  var month_to_txt = {
    0:"January", 1:"February",  2:"March",
    3:"April",   4:"May",       5:"June",
    6:"July",    7:"August",    8:"September",
    9:"October", 10:"November", 11:"December" 
  };
  
  jQuery(document).ready(function() {
    jQuery.jGFeed(
      "http://www.knockoutmouse.org/blog/feed",
      function (feeds) {
        if (!feeds) {
          jQuery("#newsfeed").html("<em>Sorry, unable to retrieve news.</em>")
        } else {
          jQuery("#newsfeed").html('<table class="noborder"></table>');
          for ( var i=0; i<feeds.entries.length; i++ ) {
            var entry = feeds.entries[i];
            var date  = new Date(entry.publishedDate);
            
            jQuery("#newsfeed table").append('<tr><td>'+month_to_txt[date.getMonth()]+' '+date.getDate()+', '+date.getFullYear()+'</td><td><a href="'+entry.link+'">'+entry.title+'</a></td></tr>')
          }
        }
      },
      5,
      "ABQIAAAA7F--kRP46lTBX0lb1do-GxS1qJBsjD6GCSxlVp8txPqYy_l09hSb_9oRKIWcA0V-SY8nilV2d-_7Rw"
    );
  });
</script>
