<form id="martsearchr" action="<%= BASE_URI %>/search" method="get" accept-charset="utf-8">
  <input type="text" name="query" value="" size="50" />&nbsp;
  <input type="submit" value="Search" /><br />
  <small>
    Enter gene/product identifiers or phenotyping test names 
    (e.g. <a href="<%= BASE_URI %>/search/Mysm1">Mysm1</a>, 
    <a href="<%= BASE_URI %>/search/EPD0019_1_A05">EPD0019_1_A05</a> or 
    <a href="<%= BASE_URI %>/search/dexa">Dexa</a>) 
    or any other search term described in the 
    <a href="<%= BASE_URI %>/help">help</a> section.
  </small>
</form>

<div class="clear"></div>

<div>
  <h2>About This Portal</h2>
  <p>
    The Wellcome Trust Sanger Institute generates, characterises, and 
    uses a variety of reagents for mouse genetics research. It also 
    aims to facilitate the distribution of these resources to the 
    external scientific community. Here, you will find unified access 
    to the different resources available from the Institute or its 
    collaborators. The resources include: 129S7 and C57BL6/J bacterial 
    artificial chromosomes (BACs), MICER gene targeting vectors, 
    knock-out first conditional-ready gene targeting vectors, embryonic 
    stem (ES) cells with gene targeted mutations or with retroviral gene 
    trap insertions, mutant mouse lines, and phenotypic data generated 
    from the Institute's primary screen.
  </p>
  
  <table class="welcome" width="100%">
    <tr>
      <td width="60%" style="padding-right: 10px;">
        <h2>Summary</h2>
        <p>
          The table below displays the number of unique genes with each individual 
          product type produced at the Wellcome Trust Sanger Institute.
        </p>
        <table id="summary_statistics">
          <thead>
            <tr>
              <th class="nobg noborder">Funding:</th>
              <th>
                <a href="http://www.sanger.ac.uk/Teams/Team109/">WTSI</a><br /> 
                <a href="http://www.eumodic.org/">EUMODIC</a>
              </th>
              <th>
                <a href="http://www.sanger.ac.uk/Teams/Team109/">WTSI</a><br /> 
                <a href="http://www.eumodic.org/">EUMODIC</a>
              </th>
              <th>
                <a href="http://www.knockoutmouse.org/">KOMP</a><br /> 
                <a href="http://www.eucomm.org/">EUCOMM</a>
              </th>
              <th>
                <a href="http://www.knockoutmouse.org/">KOMP</a><br /> 
                <a href="http://www.eucomm.org/">EUCOMM</a>
              </th>
              <th>
                <a href="http://www.wellcome.ac.uk/">WT</a>
              </th>
              <th>
                <a href="http://www.wellcome.ac.uk/">WT</a>
              </th>
              <th>
                <a href="http://www.wellcome.ac.uk/">WT</a>
              </th>
            </tr>
            <tr>
              <th class="nobg noborder">Products:</th>
              <th>Phenotyping</th>
              <th>Mice</th>
              <th>Targeted ES Cells</th>
              <th>Gene Targeting Vectors</th>
              <th>MICER</th>
              <th>C57Bl/6J BACs</th>
              <th>129S7 BACs</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="nobg noborder"></td>
              <td><%= link_to( @counts["phenotyping"]["count"], "#{BASE_URI}/search?query=#{@counts["phenotyping"]["query"]}") %></td>
              <td><%= link_to( @counts["mice"]["count"], "#{BASE_URI}/search?query=#{@counts["mice"]["query"]}") %></td>
              <td><%= link_to( @counts["escells"]["count"], "#{BASE_URI}/search?query=#{@counts["escells"]["query"]}") %></td>
              <td><%= link_to( @counts["targ_vectors"]["count"], "#{BASE_URI}/search?query=#{@counts["targ_vectors"]["query"]}") %></td>
              <td><%= link_to( @counts["micer_clones"]["count"], "#{BASE_URI}/search?query=#{@counts["micer_clones"]["query"]}") %></td>
              <td><%= link_to( @counts["c57_bacs"]["count"], "#{BASE_URI}/search?query=#{@counts["c57_bacs"]["query"]}") %></td>
              <td><%= link_to( @counts["one_two_nine_bacs"]["count"], "#{BASE_URI}/search?query=#{@counts["one_two_nine_bacs"]["query"]}") %></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding-left: 10px; vertical-align: top;">
        <h2>Phenotyping Overview</h2>
        <table class="noborder">
          <tr>
            <td style="text-align:center;">
              <a href="<%= BASE_URI %>/pheno_overview.xls" title="Download the Phenotyping Overview">
                <img src="<%= BASE_URI %>/images/heatmap.png" alt="Download the Phenotyping Overview" />
              </a>
            </td>
            <td style="vertical-align:middle;">
              <a href="<%= BASE_URI %>/pheno_overview.xls" title="Download the Phenotyping Overview">Download</a> 
              a heat map of phenotyping results by assay.  This spreadsheet also links to the detailed phenotyping 
              data on this portal.
            </td>
          </tr>
          <tr>
            <td style="text-align:center;">
              <a href="http://lists.sanger.ac.uk/mailman/listinfo/mgp-early-phenotype-alert" title="Sign up to our mailing list to be alerted of new data">
                <img src="<%= BASE_URI %>/images/internet-mail.png" alt="Sign up to our mailing list to be alerted of new data" />
              </a>
            </td>
            <td style="vertical-align:middle;">
              If you would like to be kept updated with information on our phenotyping data, 
              please subscribe to our 
              <a href="http://lists.sanger.ac.uk/mailman/listinfo/mgp-early-phenotype-alert" title="Sign up to our mailing list to be alerted of new data">mailing list</a>.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
  <hr />
  
  <div>
    <table class="noborder nobg">
      <tr>
        <td style="text-align:center;vertical-align:middle;">
          <a href="mailto:mouseportal@sanger.ac.uk" title="Get in Touch">
            <img src="<%= BASE_URI %>/images/internet-mail.png" alt="Get in Touch" />
          </a>
        </td>
        <td style="vertical-align:middle;">
          <h2 style="margin-bottom:5px;">Get in Touch</h2>
          <p style="margin-bottom:0;">
            If you have any questions, comments, suggestions or queries plese send an email to 
            <a href="mailto:mouseportal@sanger.ac.uk">mouseportal@sanger.ac.uk</a>, 
            we'd like to hear from you!
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
