<table>
  <thead>
    <tr>
        <th>C57Bl/6J Bacs</th>
        <th>129 Bacs</th>
        <th>MICER clones</th>
        <th>KO Targeting Vectors</th>
        <th>View in Ensembl</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= result_data["sanger-bacs"][0]["b6_count"] %></td>
      <td><%= result_data["sanger-bacs"][0]["s7_count"] %></td>
      <td><%= result_data["sanger-bacs"][0]["micer_count"] %></td>
      <td>
        <%
          targ_vect_count = 0
          project         = {}
          if result_data["sanger-htgt_targ"]
            project = result_data["sanger-htgt_targ"][0]
            result_data["sanger-htgt_targ"].each do |project|
              if project["targeting_vectors"]
                targ_vect_count += project["targeting_vectors"].size
              end
            end
          end
        %>
        <%= targ_vect_count %>&nbsp;&nbsp;
        <%= partial( "datasets/sanger-htgt_targ/order_button", :locals => { :project => project, :order_type => 'vector' } ) %>
      </td>
      <td><a href="<%= result_data["sanger-bacs"][0]["ensembl_link"] %>" class="external-link">link</a></td>
    </tr>
  </tbody>
</table>