
<% if result_data["markers"]["start"] and result_data["markers"]["end"] %>
  <span style="float: right;">
    <img src="http://gbrowse.informatics.jax.org/cgi-bin/gbrowse_img/thumbs_current/?abs=1;options=Everything;width=200;name=<%= result_data["markers"]["chromosome"] %>%3A<%= result_data["markers"]["start"] %>-<%= result_data["markers"]["end"] %>" alt="" />
  </span>
<% end %>

<table>
  <tr>
    <th width="125px">Marker Name(s):</th>
    <td><%= result_data["markers"]["marker_names"].join(", ") %></td>
  </tr>
  <tr>
    <th>Marker Type:</th>
    <td><%= result_data["markers"]["marker_type"] %></td>
  </tr>
  <tr>
    <th>Synonyms:</th>
    <td><%= result_data["markers"]["synonyms"].join(", ") %></td>
  </tr>
  <tr>
    <%
      location_text = "Chr#{result_data["markers"]["chromosome"]}"
      
      if result_data["markers"]["start"] and result_data["markers"]["end"]
        location_text = location_text + ":#{result_data["markers"]["start"]}-#{result_data["markers"]["end"]}"
      end
      
      if result_data["markers"]["strand"]
        location_text = location_text + "(#{result_data["markers"]["strand"]})"
      end
    %>
    <th>Location:</th>
    <td><%= location_text %></td>
  </tr>
</table>

<div>
  <h5 class="markers_toggle">Other Mouse IDs</h5>
  <div class="markers_content">
    <table>
      <tr>
        <th width="15%">MGI Gene Accession:</th>
        <td width="18%"><%= link_to( result_data["markers"]["mgi_accession_id"], "http://www.informatics.jax.org/javawi2/servlet/WIFetch?page=markerDetail&id=#{result_data["markers"]["mgi_accession_id"]}" ) %></td>

        <%
          ensembl_ids = result_data["markers"]["ensembl_gene_ids"]
          ensembl_links = []
          for ensembl_id in ensembl_ids
            ensembl_links.push( link_to( ensembl_id, "http://www.ensembl.org/Mus_musculus/contigview?gene=#{ensembl_id}" ) )
          end
        %>
        <th width="15%">Ensembl Gene ID:</th>
        <td width="18%"><%= ensembl_links.join(", ") %></td>
      </tr>
      <tr>
        <%
          entrez_ids = result_data["markers"]["entrez_gene_ids"]
          entrez_links = []
          for entrez_id in entrez_ids
            entrez_links.push( link_to( entrez_id, "http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&amp;cmd=Retrieve&amp;dopt=Graphics&amp;list_uids=#{entrez_id}" ) )
          end
        %>
        <th>Entrez Gene ID:</th>
        <td><%= entrez_links.join(", ") %></td>

        <%
          vega_ids = result_data["markers"]["vega_gene_ids"]
          vega_links = []
          for vega_id in vega_ids
            vega_links.push( link_to( vega_id, "http://vega.sanger.ac.uk/Mus_musculus/geneview?gene=#{vega_id}&amp;db=core" ) )
          end
        %>
        <th width="15%">Vega Gene ID:</th>
        <td width="18%"><%= vega_links.join(", ") %></td>
      </tr>
    </table>
    
    <% if result_data["markers"]["go_entries"].size > 0 %>
      <h6>Gene Ontology</h6>
      <ul>
        <% result_data["markers"]["go_entries"].each do |go| %>
          <li><a href="http://www.informatics.jax.org/searches/GO.cgi?id=<%= go[:id] %>"><%= "#{go[:term]} (#{go[:id]})" %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<%
  orthalog_species = [ "human", "rat" ]
  show_orthalogs = false
  
  orthalog_species.each do |orth|
    if result_data["markers"]["#{orth}_orthologs"].size > 0
      show_orthalogs = true
    end
  end
%>

<% if show_orthalogs %>
  <div>
    <h5 class="markers_toggle">Orthologs</h5>
    <div class="markers_content">
      <% orthalog_species.each do |orth| %>
        <h6><%= orth.capitalize %></h6>
        <table>
          <tr>
            <th>Marker Symbol</th>
            <th>Entrez Gene ID</th>
          </tr>
          <% result_data["markers"]["#{orth}_orthologs"].each do |orth_data| %>
            <tr>
              <td><%= orth_data[:symbol] %></td>
              <td><%= link_to( orth_data[:entrez_gene_id], "http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&amp;cmd=Retrieve&amp;dopt=Graphics&amp;list_uids=#{orth_data[:entrez_gene_id]}" ) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
<% end %>