<style type="text/css" media="screen">
  #header, #navigation, #footer {
    display: none;
  }

  #wrapper, #content {
    width: 100%;
    margin: 0;
  }

  #wrapper {
    padding: 9px;
  }
  
  td.pheno_result {
    cursor: auto !important;
  }
  
  #tooltip{
    position: absolute;
    border: 1px solid #333;
    background: #f7f5d1;
    padding: 2px 5px;
    color: #333;
    display: none;
  }
</style>

<%
  pheno_tests = []
  @heat_map[0].keys.each do |attribute|
    unless attribute =~ /comment|marker_symbol|pipeline|colony_prefix|comparison|allele_name/
      pheno_tests.push(attribute)
    end
  end
  pheno_tests = pheno_tests.sort
%>

<div class="phenotyping">
  <h2>Phenotyping Overview</h2>
  
  <p><a href="<%= BASE_URI %>/">back to the mouse portal</a></p>
  
  <%= partial( "datasets/phenotyping/heatmap_legend" ) %>
  
  <table id="phenotyping_heatmap">
    <tr>
      <th>Pipeline</th>
      <th>Colony Prefix</th>
      <th>Gene</th>
      <th>Allele</th>
      <th>Genotypes Compared</th>
      <% pheno_tests.each do |test| %>
        <th><span class="vertical_text"><%= @pheno_test_name_map[test] %></span></th>
      <% end %>
    </tr>
    <% @heat_map.each do |result| %>
      <%
        # Get a list of tests with details pages to link to
        detail_links = pheno_links(result["colony_prefix"])
      %>
      <tr>
        <td><%= result["pipeline"] %></td>
        <td><a href="<%= BASE_URI %>/search/colony_prefix:<%= result["colony_prefix"] %>"><%= result["colony_prefix"] %></a></td>
        <td><a href="<%= BASE_URI %>/search/marker_symbol:<%= result["marker_symbol"] %>"><%= result["marker_symbol"] %></a></td>
        <td><%= result["allele_name"] %></td>
        <td><%= result["comparison"] %></td>
        <% pheno_tests.each do |test| %>
          <%
            title_text = "<h6>#{@pheno_test_name_map[test]}</h6>"
            title_text += "<p><strong>Result:</strong> #{result[test]}<br />"
            if result["#{test}_comment"]
              title_text += "<strong>Comments:</strong> #{result["#{test}_comment"]}</p>"
            end
            
            link_text = ""
            if test === "abr"
              if detail_links.include?("abr")
                link_text = "<a href='#{BASE_URI}/phenotyping/#{result['colony_prefix']}/abr/'><img src='#{BASE_URI}/images/bullet_go.png' /></a>"
              end
            else
              if detail_links.include?( test.gsub("_","-") )
                link_text = "<a href='#{BASE_URI}/phenotyping/#{result['colony_prefix']}/#{test.gsub("_","-")}/'><img src='#{BASE_URI}/images/bullet_go.png' /></a>"
              end
            end
          %>
          <td class="<%= css_class_for_test(result[test]) %> pheno_result" tooltip="<%= title_text %>"><%= link_text %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  
  <%= partial( "datasets/phenotyping/heatmap_legend" ) %>
</div>

<script type="text/javascript" charset="utf-8">
  // Offset for the tooltip
  xOffset = 10;
  yOffset = 20;
  
  jQuery(document).ready(function() {
    jQuery("#phenotyping_heatmap").bind("mouseover", function(e) {
      var target = jQuery(e.target);
      if ( target.is("td.pheno_result") ) {
        jQuery("body").append("<div id='tooltip'>" + target.attr("tooltip") + "</div>");
        jQuery("#tooltip")
          .css("top", (e.pageY - xOffset) + "px")
          .css("left",(e.pageX + yOffset) + "px")
          .fadeIn("fast");
      } else if ( target.parent().parent().is("td.pheno_result") ) {
        jQuery("body").append("<div id='tooltip'>" + target.parent().parent().attr("tooltip") + "</div>");
        jQuery("#tooltip")
          .css("top", (e.pageY - xOffset) + "px")
          .css("left",(e.pageX + yOffset) + "px")
          .fadeIn("fast");
      }
    });
    
    jQuery("#phenotyping_heatmap").bind("mouseout", function(e) {
      jQuery("#tooltip").remove();
    });
    
    jQuery("#phenotyping_heatmap").bind("mousemove", function(e) {
      jQuery("#tooltip")
        .css("top", (e.pageY - xOffset) + "px")
        .css("left",(e.pageX + yOffset) + "px");
    });
  });
</script>
