<h4>Targeting Vector</h4>
<% if project["targvec_plate"] and project["targvec_well"] and project["targvec_distribute"] === "yes" %>
  <table>
    <tr>
      <th>Design ID</th>
      <th>Targeting Vector</th>
      <th>Vector Strain</th>
      <th>Cassette</th>
      <th>Backbone</th>
      <th>Genbank File</th>
      <th>Order</th>
    </tr>
    <tr>
      <td>
        <a href="http://www.sanger.ac.uk/htgt/design/designedit/refresh_design?design_id=<%= project["design_id"] %>"><%= project["design_id"] %></a> 
        <% if project["design_plate"] and project["design_well"] %>
          (<%= project["design_plate"] %>_<%= project["design_well"] %>)
        <% end %>
      </td>
      <td><a href="http://www.sanger.ac.uk/htgt/plate/view?plate_name=<%= project["targvec_plate"] %>"><%= project["targvec_plate"] %>_<%= project["targvec_well"] %></a></td>
      <td>
        <% if project["bac"].match("129") %>
          129S7
        <% else %>
          C57Bl/6J
        <% end %>
      </td>
      <td><%= project["cassette"] %></td>
      <td><%= project["backbone"] %></td>
      <td><a href="http://www.sanger.ac.uk/htgt/qc/seq_view_file?design_id=<%= project["design_id"] %>&amp;cassette=<%= project["cassette"] %>&amp;backbone=<%= project["backbone"] %>" class="file">view</a></td>
      <td>
        <% # this.partial({ url: dataset.base_url + "/js/templates/htgt_targ_details_order.ejs" },{ dataset: dataset, project: project, order_type: 'vector' }) %>
      </td>
    </tr>
  </table>
<% else %>
  <p>&nbsp;&nbsp;&nbsp;<em>No vectors available.</em></p>
<% end %>