
<% if result_data["ikmc-dcc-gene_details"]["start"] and result_data["ikmc-dcc-gene_details"]["end"] %>
  <span style="float: right;">
    <img src="http://gbrowse.informatics.jax.org/cgi-bin/gbrowse_img/thumbs_current/?abs=1;options=Everything;width=200;name=<%= result_data["ikmc-dcc-gene_details"]["chromosome"] %>%3A<%= result_data["ikmc-dcc-gene_details"]["start"] %>-<%= result_data["ikmc-dcc-gene_details"]["end"] %>" alt="" />
  </span>
<% end %>

<table>
  <tr>
    <th width="125px">Marker Name(s):</th>
    <td><%= result_data["ikmc-dcc-gene_details"]["marker_names"].join(", ") %></td>
  </tr>
  <tr>
    <th>Synonyms:</th>
    <td><%= result_data["ikmc-dcc-gene_details"]["synonyms"].join(", ") %></td>
  </tr>
  <tr>
    <%
      location_text = "Chr#{result_data["ikmc-dcc-gene_details"]["chromosome"]}"
      
      if result_data["ikmc-dcc-gene_details"]["start"] and result_data["ikmc-dcc-gene_details"]["end"]
        location_text = location_text + ":#{result_data["ikmc-dcc-gene_details"]["start"]}-#{result_data["ikmc-dcc-gene_details"]["end"]}"
      end
      
      if result_data["ikmc-dcc-gene_details"]["strand"]
        location_text = location_text + "(#{result_data["ikmc-dcc-gene_details"]["strand"]})"
      end
    %>
    <th>Location:</th>
    <td><%= location_text %></td>
  </tr>
</table>

<h5 class="ikmc-dcc-gene_details_other_gene_ids_toggle">Other Gene IDs</h5>
<div class="ikmc-dcc-gene_details_other_gene_ids_content">
  <table>
    <tr>
      <th width="15%">MGI Gene Accession:</th>
      <td width="18%"><%= link_to( result_data["ikmc-dcc-gene_details"]["mgi_accession_id"], "http://www.informatics.jax.org/searches/accession_report.cgi?id=#{result_data["ikmc-dcc-gene_details"]["mgi_accession_id"]}" ) %></td>

      <%
        ensembl_ids = result_data["ikmc-dcc-gene_details"]["ensembl_gene_ids"]
        ensembl_links = []
        for ensembl_id in ensembl_ids
          ensembl_links.push( link_to( ensembl_id, "http://www.ensembl.org/Mus_musculus/contigview?gene=#{ensembl_id}" ) )
        end
      %>
      <th width="15%">Ensembl Gene ID:</th>
      <td width="18%"><%= ensembl_links.join(", ") %></td>

      <%
        vega_ids = result_data["ikmc-dcc-gene_details"]["vega_gene_ids"]
        vega_links = []
        for vega_id in vega_ids
          vega_links.push( link_to( vega_id, "http://vega.sanger.ac.uk/Mus_musculus/geneview?gene=#{vega_id}&amp;db=core" ) )
        end
      %>
      <th width="15%">Vega Gene ID:</th>
      <td width="18%"><%= vega_links.join(", ") %></td>
    </tr>
    <tr>
      <%
        entrez_ids = result_data["ikmc-dcc-gene_details"]["entrez_gene_ids"]
        entrez_links = []
        for entrez_id in entrez_ids
          entrez_links.push( link_to( entrez_id, "http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=gene&amp;cmd=Retrieve&amp;dopt=Graphics&amp;list_uids=#{entrez_id}" ) )
        end
      %>
      <th>Entrez Gene ID:</th>
      <td><%= entrez_links.join(", ") %></td>

      <%
        ccds_ids = result_data["ikmc-dcc-gene_details"]["ccds_ids"]
        ccds_links = []
        for ccds_id in ccds_ids
          ccds_links.push( link_to( ccds_id, "http://www.ncbi.nlm.nih.gov/CCDS/CcdsBrowse.cgi?REQUEST=CCDS&amp;DATA=#{ccds_id}" ) )
        end
      %>
      <th>CCDS ID:</th>
      <td><%= ccds_links.join(", ") %></td>

      <th>OMIM ID:</th>
      <td><%= result_data["ikmc-dcc-gene_details"]["omim_ids"].join(", ") %></td>
    </tr>
  </table>
</div>